.input {
  /* Элементы */

  &__control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 1px;
    height: 32px;
    margin-bottom: 5px;
    background: 0 0;
    color: currentColor;
    border: 0;
    border-width: 0 0 1px;
    border-color: var(--common-border);
    border-style: solid;
    outline: none;
    font-size: 16px;
    font-family: inherit;

    &:focus {
      border-color: var(--action-button-background);
      border-width: 0 0 2px;
      padding-bottom: 0;
    }
  }

  &__error {
    margin-bottom: 5px;
    border-color: var(--common-alert);
    font-size: 14px;
    color: var(--common-alert);
  }

  /* Модификаторы */

  &_invalid .input__control {
    border-color: var(--common-alert);
    border-width: 0 0 2px;
    padding-bottom: 0;
  }
}
