@use '../../styles/themes/bright';

.button {
  display: block;
  height: 48px;
  border-radius: 3px;
  font-size: 14px;
  box-sizing: border-box;
  user-select: none;
  white-space: nowrap;
  line-height: 38px;
  padding: 5px 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  border: 0;
  text-decoration: none;
  color: currentColor;
  cursor: pointer;

  /* Модификаторы */

  /* Внешний вид кнопки */

  &_view {
    /* Призывает к действию */

    &_action {
      background-color: var(--action-button-background);
    }

    /* Старается не выделяться */

    &_pseudo {
      background: 0 0;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    }

    /* Плоская, без фона и границ */

    &_plain {
      background: 0 0;
    }
  }
}
