.error {
  max-width: 400px;
  margin: 0 auto;
  padding: 3% 0 20px;
  text-align: center;

  &__title {
    display: block;
    font-size: 120px;
    font-weight: bold;
    color: var(--common-background-secondary);
  }

  &__message {
    font-size: 14px;
    line-height: 18px;
  }
}
