.board {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
  @mixin border-bottom;

  /* Элементы */

  &__header {
    border-width: 1px 0;
    border-color: var(--common-border);
    border-style: solid;
  }

  &__cell {
    padding: 12px 8px;

    &_header {
      text-align: left;
      font-weight: normal;
    }

    &_score {
      font-weight: bold;
    }
  }
}
