.avatar {
  display: block;
  position: relative;
  background-color: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: 50%;

  /* Модификаторы */

  &_size {
    &_s {
      height: 32px;
      width: 32px;
    }

    &_m {
      height: 40px;
      width: 40px;
    }

    &_xl {
      height: 220px;
      width: 220px;
    }
  }
}
