@define-mixin border-bottom $width: 1px, $color: var(--common-border), $style: solid {
  border-width: 0 0 $width;
  border-color: var(--common-border);
  border-style: $style;
}

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 48px;
  padding: 0 22px;
  @mixin border-bottom 2px;
}
