@import "styles/abstracts/mixins";

.avatar {
  position: relative;
  background-color: #ccc;
  overflow: hidden;

  /* Элементы */

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Модификаторы */

  &_size {
    &_s {
      @include circle(32px);
    }

    &_m {
      @include circle(40px);
    }

    &_xl {
      @include circle(220px);
    }
  }
}
