.leaderboard {
  margin: 0 auto;
  padding: 40px 44px 40px 68px;
  max-width: 760px;

  /* Элементы */

  &__title {
    display: block;
    margin: 0 0 40px;
    font-size: 36px;
    font-weight: normal;
  }
}
